<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dossier Stefano 1</title>
    <style media="screen" type="text/css">

      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr, th {
        border: 0px
      }

      .full {
        width: 100%;
        height: 100%
      }

    </style>
  </head>
  <body>
    <h2 style="text-align: center">{{name}}</h2>
  <div>
    <table>
      <tr>
        <th style="text-align: left; width:33%">Importo</th>
        <th style="text-align: center; width:33%">Finalità</th>
        <th style="text-align: right; width:33%">Data di creazione</th>
      </tr>
      <tr>
        <td style="border-right: 0px; text-align: left; width:33%">{{importo}}</td>
        <td style="border-right: 0px; text-align: center; border-left:0px; width:33%">{{finalita}}</td>
        <td style="border-left: 0px; text-align: right; width:33%">{{created}}</td>
      </tr>
    </table>
  </div>
  <div>
    <table>
      <tr>
        <td colspan="3" style="border: 0px"><h3>Richiedente</h3></td>
      </tr>
      <tr>
        <td style="border: 0px; text-align: left; width:30%">Nome e Cognome</td><td style="border: 0px; text-align: left; width:70%">{{fullName}}</td>
      </tr>
      <tr>
        <td style="border: 0px; text-align: left; width:30%">Tipo di documento</td><td style="border: 0px; text-align: left; width:70%">{{documentType}}</td>
      </tr>
      <tr>
        <td style="border: 0px; text-align: left; width:30%">Numero di documento</td><td style="border: 0px; text-align: left; width:70%">{{documentNumber}}</td>
      </tr>
      <tr>
        <td colspan="3" style="border: 0px;"><h3>Anagrafica Azienda</h3></td>
      </tr>
      <tr>
        <td style="border: 0px; text-align: left; width:30%">Denominazione</td><td style="border: 0px; text-align: left; width:70%">{{denominazione}}</td>
      </tr>
      <tr>
        <td style="border: 0px; text-align: left; width:30%">Indirizzo Sede</td><td style="border: 0px; text-align: left; width:70%">{{sede.indirizzo}}</td>
      </tr>
      <tr>
        <td style="border: 0px; text-align: left; width:30%">Comune Sede</td><td style="border: 0px; text-align: left; width:70%">{{sede.comune}}</td>
      </tr>
      <tr>
        <td style="border: 0px; text-align: left; width:30%">Partita IVA</td><td style="border: 0px; text-align: left; width:70%">{{partitaIva}}</td>
      </tr>
      <tr>
        <td style="border: 0px; text-align: left; width:30%">Codice fiscale</td><td style="border: 0px; text-align: left; width:70%">{{codiceFiscale}}</td>
      </tr>
      <tr>
        <td style="border: 0px; text-align: left; width:30%">CCIAA-REA</td><td style="border: 0px; text-align: left; width:70%">{{cciaaRea}}</td>
      </tr>
      <tr>
        <td style="border: 0px; text-align: left; width:30%">Forma giuridica</td><td style="border: 0px; text-align: left; width:70%">{{naturaGiuridica.descrizione}}</td>
      </tr>
      <tr>
        <td style="border: 0px; text-align: left; width:30%">Codice Ateco</td><td style="border: 0px; text-align: left; width:70%">{{ateco.codice}}</td>
      </tr>
      <tr>
        <td style="border: 0px; text-align: left; width:30%">Descrizione Ateco</td><td style="border: 0px; text-align: left; width:70%">{{ateco.descrizione}}</td>
      </tr>
      <tr>
        <td style="border: 0px; text-align: left; width:30%">Stato attività</td><td style="border: 0px; text-align: left; width:70%">{{statoAttivita}}</td>
      </tr>
    </table>
  </div>
  </body>
</html>
